.edge-control__item:not(:last-child){
    margin-bottom: 8px;
}

.edge-control__transitions {
    display: flex;
}

.edge-control__transition:not(:last-child) {
    margin-right: 8px;
}

.edge-control__edit-transitions {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 32px;
    height: 32px;
}

.edge-control__edit-transitions {
    margin-left: auto;
}