.account-page__container {
    padding: 24px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;
}

.account-page__user-field:not(:last-child) {
    margin-bottom: 6px;
}