body {
    margin: 0;
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.fieldd {
    position: fixed;
    width: 80%;
    height: 100%;

    background-color: #fff;

}

:root {
    --border: #e0e0e0;
    --icon-secondary: #9f9f9f;
    --text-secondary: #7e7e7e;
    --accent: #0041d0;
    --light-accent: #94abde;
    --secondary: #767676;
    --second-accent: #ff0072;
    --light-secondary: #c2c2c2;
    --commerce: #218721;
    --destructive: #e44f4f;
}