.saving-popout__body {
    display: flex;

    margin-bottom: 32px;
}

.saving-popout__body__sidebar {
    margin-right: 16px;
}

.saving-popout__body__main__paper {
    min-width: 440px;
    max-width: 440px;
    min-height: 196px;
}

.saving-popout__save-name-input {
    width: 100%;
}